<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
    <h1 class="text-center mt-3 mb-3">{{title}}</h1>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">{{title}}</div>
          <div class="col"></div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Applicant ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Date</th>
                <th>Vaccine</th>
              </tr>
            </thead>
            <tbody>
              {{#each sampleData}}
              <tr>
                <td>{{ Applicant_id }}</td>
                <td>{{ Name }}</td>
                <td>{{ Gender }}</td>
                <td>{{ Father_Name }}</td>
                <td>{{ Mother_Name }}</td>
                <td>{{ formatted_date }}</td>
                <td>{{ vaccine }}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</body>

</html>